@font-face {
    font-family: 'Trueno';
    src: url('./truenoultlt.otf') format("opentype");
    font-weight: 200;
}

@font-face {
    font-family: 'Trueno';
    src: url('./truenolt.otf') format("opentype");
}

@font-face {
    font-family: 'Trueno';
    src: url('./truenosbd.otf') format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Trueno';
    src: url('./truenobd.otf') format("opentype");
    font-weight: 900;
}

@font-face {
    font-family: 'Trueno';
    src: url('./truenorg.otf') format("opentype");
    font-weight: 700;
}

@page { 
    size: auto; 
    margin: 0;  
} 

* {
    box-sizing: border-box;
}

html {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    color: #14151f;
    font-family: 'Trueno';
    margin: 0 !important;
    padding: 0 !important;
}

.d-flex {
    display: flex;
}

.flexDirection_row {
    flex-direction: row;
}

.alignItems_center {
    align-items: center;
}

.justifyContent_center {
    justify-content: center;
}

.header {
    padding: 30px 0;
}

.col1 {
    flex: 1;
    flex-basis: 30%
}

.col2 {
    flex: 1;
    flex-basis: 70%;
    padding: 0 50px;
}

.header-photo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: url('./photo.jpg');
    background-size: 109%;
    background-position-x: 5px;
    border: solid 2px #14151f;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
}

b {
    font-weight: 900;
}

h1 {
    text-transform: uppercase;
    font-size: 34px;
    margin-bottom: 3px;
}

h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 4px;
    margin-bottom: 20px;
    position: relative;
}

.title-underscore {
    bottom: -2px;
    left: -12px;
    position: absolute;
    height: 1px;
    width: 12px;
    background-color: #14151f;
    display: inline-block;
}

h3 {
    font-size: 18px;
    font-weight: 200;
}

.body-profile {
    background-color: #E8E8E8;
    padding: 30px;
    height: calc(1122px * 2 - 160px);
}

.basicBlock {
    margin-bottom: 20px;
    font-size: 14px;
}

.basicBlock-title {
    font-weight: 800;
    opacity: 0.8;
}

.mainBlock {
    margin-bottom: 70px;
}

.mainBlock:last-of-type {
    margin-bottom: 0;
}

.experience-job {
    width: 150px;
    flex-shrink: 0;
    padding-right: 20px;
}

.experience-role {
    font-weight: 700;
}

.experience-where, .experience-when {
    opacity: 0.8;
    margin-top: 3px;
    font-size: 11px;
}

.experience {
    font-size: 13px;
    border-bottom: solid 1px #14151f;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.experience:first-of-type {
    margin-top: 40px;
}

.experience-stack {
    margin-top: 15px;
    font-weight: 700;
    border-top: solid 1px #d6d6d6;
    height: 15px;
    font-size: 11px;
    padding-top: 5px; 
}

.experience-description {
    font-size: 11px;
}

ul {
    margin: 0;
    padding-left: 15px;
    list-style-type: square;
}

.experience-description b {
    font-weight: 500 !important;
    display: block;
    margin-bottom: 2px;
    font-style: italic;
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 800;
    color: #FFF;
    background-color: #14151f;
    margin-right: 3px;
    margin-bottom: 5px; 
    font-size: 11px;
}

.badge:first-of-type {
    margin-left: 0;
}

.stackBlock {
    margin-right: 3px; 
}

.m-r-0 {
    margin-left: 0;
}

.body-profile .mainBlock {
    margin-bottom: 38px;
}

.body-profile h2, .body-profile .basicBlock {
    margin-bottom: 10px;
}